<!DOCTYPE html>
<html>
    <body>
        <br>

        <h2><b>Hey, {{ name }} your appointment has been booked at Medicio</b> </h2>


        <h3>
            Contact Details:
        </h3>
        <h5><b>Email:</b></h5><h6> {{ email }}</h6><br/>
        <h5><b>Phone:</b></h5><h6> {{ phone }}</h6></br>

        <h2>Appointment Details:</h2>

        <table border="1">

            <thead>
                <tr>
                    <th><b>Date & Time</b></th>
                    <th><b>Department</b></th>
                    <th><b>Doctor</b></th>
                </tr>
            </thead>

            <tbody>
                    <tr>
                        <td>{{ dateTime }}</td>
                        <td>{{ depart }}</td>
                        <td>{{ doctor }}</td>
                    </tr>
            </tbody>
        </table>
    </body>
</html>